<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.mybatis.dao.UserDao">
    <select id="findById" resultType="java.lang.Integer">
        select id from xc_car where id=#{id}
    </select>
</mapper>